Documentaciones base/documentacion n8n/3_WORK_LOGS_AND_HISTORY/TOOLS_HISTORY/2026-02-03/FINAL_PATCHED_WORKFLOW.json
{
  "meta": {
    "id": "Urf7HpECFvfQooAv",
    "name": "Yes",
    "exported_at": "2026-02-03T05:27:18.579415"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "28a174f4-db7a-4445-a7e9-9f1a5febba70",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        3560
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/emky/n8n/history.json",
        "options": {}
      },
      "id": "bdb72c02-81cf-4416-b41a-db87ac2367bd",
      "name": "Read History",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        120,
        3520
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "\n// VEGA v24: Fixed Memory Logic with Binary Output\nconst items = $input.all();\nif (items.length === 0) return [{ json: { error: \"No input for memory\" } }];\n\nconst item = items[0].json;\n\n// 1. Update Technical History (Internal steps)\nconst history = Array.isArray(item.history) ? item.history : [];\nif (item.action_taken) {\n    history.push({\n      role: \"assistant\",\n      content: `Action: ${item.action_taken}\\nResult: ${item.tool_result || 'No Result'}`\n    });\n}\n\n// 2. Update Chat History (Interaction with user)\nlet chatHistory = Array.isArray(item.chat_history) ? item.chat_history : [];\nif (item.response && item.user_goal) {\n    chatHistory.push({\n      user: item.user_goal,\n      ai: item.response,\n      timestamp: new Date().toISOString()\n    });\n}\n\n// 3. Update Counter\nlet counter = typeof item.counter === 'number' ? item.counter : 0;\ncounter++;\n\n// 4. Prepare Binary Content (for history.json)\nconst content = JSON.stringify(chatHistory.slice(-20), null, 2);\n\nreturn [{\n  json: {\n    user_goal: item.user_goal || \"No Goal\",\n    history: history,\n    counter: counter,\n    chat_history: chatHistory,\n    response: item.response || null,\n    last_tool_data: item.tool_result_data || null\n  },\n  binary: {\n    data: {\n      data: Buffer.from(content).toString('base64'),\n      mimeType: 'application/json',\n      fileExtension: 'json',\n      fileName: 'history.json'\n    }\n  }\n}];\n"
      },
      "id": "85ffd819-6cab-42c4-b9a2-1b1d9db23277",
      "name": "Update Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        3360
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/emky/n8n/history.json",
        "options": {}
      },
      "id": "b93ecb19-af22-439a-a22d-5c4523f32adf",
      "name": "Save History to Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2180,
        3360
      ]
    },
    {
      "parameters": {
        "operation": "list"
      },
      "id": "4b6a6116-6571-4c34-84fc-b6922e0e6a0d",
      "name": "Drive Search",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2700,
        3500
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2rl8vh5wM9ZsAbep",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.datos.fileId }}"
        },
        "options": {
          "fileName": "={{ $json.datos.filename || 'download' }}"
        }
      },
      "id": "3814f059-fee6-40e7-86b5-8a7a4dbdc455",
      "name": "Drive Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2720,
        3700
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2rl8vh5wM9ZsAbep",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fileName": "={{ '/home/emky/n8n/descargas/' + ($json.datos.filename || 'downloaded_file') }}",
        "options": {}
      },
      "id": "8a764146-6b47-4920-ba93-860b958182ab",
      "name": "Save to Disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2920,
        3700
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.datos.command }}"
      },
      "id": "f4e6a4f4-ad82-4e88-a722-0bd97076601c",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2700,
        3900
      ]
    },
    {
      "parameters": {
        "filePath": "={{ '/home/emky/n8n/descargas/' + $json.datos.filename }}"
      },
      "id": "9909777b-18c0-4a33-8f50-4acb8bcdf89f",
      "name": "Read Disk",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        2700,
        4100
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.datos.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "fd28a32d-45a3-48f6-a8f7-7ff091f62aaf",
      "name": "Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2920,
        4100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2rl8vh5wM9ZsAbep",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let result = \"Success\";\nlet structured_data = null;\n\nif (items.length > 0) {{\n  if (items[0].json.id && items[0].json.name) {{\n     result = items.map(i => `[FILE] ${i.json.name} (${i.json.id})`).join(\", \");\n     structured_data = items.map(i => ({{\n       id: i.json.id, \n       name: i.json.name, \n       mimeType: i.json.mimeType || 'unknown'\n     }}));\n  }} \n  else if (items[0].json.hasOwnProperty('stdout')) {{\n     result = items[0].json.stdout;\n  }}\n  else if (items[0].json.hasOwnProperty('stderr')) {{\n     result = items[0].json.stderr;\n  }}\n  else if (items[0].binary) {{\n     result = \"Binary data processed successfully.\";\n  }}\n  else {{\n    result = \"Resultado de herramienta no reconocido, pero la operación fue exitosa.\";\n  }}\n}} else {{\n  result = \"La herramienta se ejecutó pero no produjo ningún resultado (ej. búsqueda sin resultados).\";\n}}\n\nconst prev = $('Clean Actor').last().json;\nreturn [{{ json: {{\n  action_taken: prev.accion, \n  tool_result: result,\n  tool_result_data: structured_data,\n  planner_instruction: prev.instruction, \n  user_goal: prev.user_goal, \n  history: prev.history, \n  counter: prev.counter\n}} }}];"
      },
      "id": "748fedea-114e-497e-9cf6-4a048f7334b9",
      "name": "Aggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        3700
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst newHistory = item.history || [];\n\nnewHistory.push({\n  plan: item.planner_instruction,\n  action: item.action_taken,\n  result: item.tool_result,\n  result_data: item.tool_result_data\n});\n\nconst newCounter = (item.counter || 0) + 1;\n\nif (newCounter >= 15) {\n    console.log('⚠️ Límite de iteraciones alcanzado.');\n}\n\nreturn [{ json: { \n  user_goal: item.user_goal, \n  history: newHistory, \n  counter: newCounter,\n  chat_history: item.chat_history\n} }];"
      },
      "id": "f08f70d1-1c12-4320-a8df-a66d4a533d2f",
      "name": "Update State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3420,
        3700
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "d3184029-a8be-404f-994e-9ca49260e1ea",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3640,
        3700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Detect user message from ANY input node\nconst inputs = $input.all();\nlet message = \"\";\n\n// Check current input\nif (inputs.length > 0 && inputs[0].json.chatInput) {\n    message = inputs[0].json.chatInput;\n} else {\n    // Fallback to searching node data\n    try { \n        message = $node[\"When chat message received\"].json.chatInput; \n    } catch(e) {\n        message = \"No se detectó mensaje del usuario.\";\n    }\n}\n\nlet longTermHistory = [];\ntry {\n  const historyData = $node[\"Read History\"].json.data || $node[\"Read History\"].json.content;\n  if (historyData) {\n    longTermHistory = (typeof historyData === 'string') ? JSON.parse(historyData) : historyData;\n  }\n} catch (e) {\n  longTermHistory = [];\n}\n\nreturn [{ \n  json: { \n    user_goal: message, \n    chat_history: longTermHistory, \n    history: [], \n    counter: 0 \n  } \n}];"
      },
      "id": "1d89c103-26b2-4e52-a93d-8fdad1b3a29c",
      "name": "Init Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        3520
      ]
    },
    {
      "parameters": {},
      "id": "1bd2a721-0fd4-4da1-8461-e7684fc6baa6",
      "name": "Loop Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        560,
        3520
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {{\n  const goal = item.json.user_goal;\n  const history = item.json.history || [];\n  const counter = item.json.counter || 0;\n\n  let historyText = \"No se ha ejecutado ninguna acción aún.\";\n  if (history.length > 0) {{\n    historyText = history.map((h, i) => {{\n      let details = 'PASO ' + (i + 1) + ':\\n' \n                  + '- El Planner decidió: ' + h.plan + '\\n' \n                  + '- El Actor ejecutó: ' + h.action + '\\n' \n                  + '- Resultado: ' + h.result;\n      if (h.result_data && Array.isArray(h.result_data) && h.result_data.length > 0) {{\n        const dataString = JSON.stringify(h.result_data, null, 2);\n        details += '\\n- DATOS DISPONIBLES (usa estos IDs exactos):\\n' + dataString;\n      }}\n      return details;\n    }}).join('\\n\\n');\n  }}\n\n  const prompt = `ERES EL CEREBRO ESTRATÉGICO de un sistema de ejecución.\n\nOBJETIVO PRINCIPAL DEL USUARIO:\n\"${goal}\"\n\nHISTORIAL DE EJECUCIÓN (${history.length} acciones completadas):\n${historyText}\n\nHERRAMIENTAS DISPONIBLES (para el Actor, no para ti):\n1. buscar_en_drive(query: string) - Buscar archivos en Google Drive.\n2. descargar_de_drive(fileId: string, filename: string) - Descargar archivo desde Drive.\n3. subir_a_drive(filename: string) - Subir archivo a Drive.\n4. ejecutar_comando(command: string) - Ejecutar comando bash en el sistema local (ls, cat, etc.).\n\nREGLAS DE ORO:\n1. SI el historial está VACÍO → Planifica el primer paso lógico.\n2. SI el objetivo NO está completo → Planifica el siguiente paso.\n3. CUANDO uses IDs de archivos, USA EXACTAMENTE los IDs de \"DATOS DISPONIBLES\".\n4. SOLO marca is_done:true SI el objetivo está 100% cumplido.\n5. DEVUELVE SOLO JSON, SIN MARKDOWN.\n6. ANALIZA el objetivo. Si implica \"Google Drive\", usa herramientas de Drive. Si implica archivos locales o comandos del sistema, usa 'ejecutar_comando'. Elige la herramienta más directa.\n\n---\nEJEMPLOS DE DECISIONES:\n\nEJEMPLO 1 (Tarea de Drive):\nUsuario: \"Descarga mis archivos takeout de Drive\"\nHistorial: vacío\nTU RESPUESTA (JSON PURO):\n{\n  \"thought\": \"Debo buscar archivos con 'takeout' en Drive primero.\",\n  \"next_instruction\": \"Buscar en Google Drive archivos que contengan 'takeout' en el nombre\",\n  \"is_done\": false,\n  \"final_response\": \"\"\n}\n\nEJEMPLO 2 (Tarea de Sistema Local):\nUsuario: \"Muéstrame el contenido del archivo de configuración de n8n.\"\nHistorial: vacío\nTU RESPUESTA (JSON PURO):\n{\n  \"thought\": \"El usuario quiere ver un archivo local. Necesito usar 'ejecutar_comando' con 'cat' para mostrar el contenido del archivo. La ruta es probablemente /home/emky/.n8n/config.\",\n  \"next_instruction\": \"Ejecutar el comando 'cat /home/emky/.n8n/config'\",\n  \"is_done\": false,\n  \"final_response\": \"\"\n}\n---\n\nAHORA TU TURNO. Basado en el objetivo y el historial, devuelve tu decisión en formato JSON PURO:`;\n\n  return {{ json: {{ prompt, history, user_goal: goal, counter }} }};\n}});"
      },
      "id": "9f53886f-41f0-4d93-873a-1bd1f56cec95",
      "name": "Planner Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        3520
      ]
    },
    {
      "parameters": {
        "prompt": "={{ $json.prompt }}",
        "model": "gemini-3-flash-preview",
        "additionalOptions": {
          "outputFormat": "json",
          "jsonForce": true,
          "temperature": 0.5
        }
      },
      "id": "be3a8484-461b-4be1-ab57-b66700447443",
      "name": "Gemini Planner",
      "type": "CUSTOM.geminiCLI",
      "typeVersion": 1,
      "position": [
        1000,
        3520
      ]
    },
    {
      "parameters": {
        "jsCode": "// VEGA v23: Standard Parse Planner\nconst items = $input.all();\nconst returnItems = [];\n\nfor (const item of items) {\n  let output = {};\n  try {\n    const inputJson = item.json || {};\n    const geminiText = inputJson.response || inputJson.text || \"\";\n    let parsed = {};\n    \n    // Intentar extraer JSON de la respuesta\n    const jsonMatch = geminiText.match(/```json\\s*([\\s\\S]*?)\\s*```/) || geminiText.match(/\\{.*\\}/s);\n    if (jsonMatch) {\n      parsed = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n    } else {\n      parsed = { thought: geminiText, is_done: true, final_response: geminiText };\n    }\n    \n    let isDoneString = (parsed.is_done === true || String(parsed.is_done).toUpperCase() === 'TRUE') ? \"TRUE\" : \"FALSE\";\n    \n    // Fallback si no hay instrucción ni es done\n    if (isDoneString === \"FALSE\" && !parsed.next_instruction) {\n      isDoneString = \"TRUE\";\n      parsed.final_response = parsed.final_response || \"No next instruction provided by model.\";\n    }\n\n    output = {\n      ...inputJson,\n      planner_output: {\n        ...parsed,\n        is_done_string: isDoneString\n      }\n    };\n  } catch (error) {\n    output = {\n      error: error.message,\n      planner_output: { is_done_string: \"TRUE\", final_response: \"Error en Parse Planner: \" + error.message }\n    };\n  }\n  returnItems.push({ json: output });\n}\nreturn returnItems;"
      },
      "id": "7f42c43a-e418-4aaf-87aa-4b8ba3907b1c",
      "name": "Parse Planner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        3520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c6229606-f187-43ca-938b-d77759b6711e",
              "leftValue": "={{ $json.planner_output.is_done_string }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "14e43b41-da7e-4693-95d5-6425fc5a3617",
      "name": "Route Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1460,
        3520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp",
              "name": "response",
              "value": "={{ $json.planner_output.final_response || 'ERROR DE RUTEO: isDone=' + $json.planner_output.is_done_string }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "efe99098-0177-4d4f-bfea-650f3249f663",
      "name": "Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        3360
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst instruction = item.planner_output.next_instruction;\n\n// Pasamos también el historial de chat al actor por si acaso, aunque no es crítico\nconst structured_context = item.history.filter(h => h.result_data).map(h => h.result_data).flat();\n\nconst prompt = `CONVIERTE ESTO A JSON PARA HERRAMIENTAS:\nInstrucción: \"${instruction}\"\nContexto archivos: ${JSON.stringify(structured_context)}\n\nSALIDA: { \"accion\": \"...\", \"datos\": { ... } }`;\n\nreturn [{ json: { ...item, prompt, instruction } }];"
      },
      "id": "c5ac7de5-6d51-4447-a838-bfaf67be5cc4",
      "name": "Actor Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        3700
      ]
    },
    {
      "parameters": {
        "prompt": "={{ $json.prompt }}",
        "model": "gemini-3-flash-preview",
        "additionalOptions": {
          "outputFormat": "json",
          "jsonForce": true,
          "temperature": 0.1,
          "maxTokens": 1024
        }
      },
      "id": "aff65b51-b976-4abf-ae20-ef2f3f85f67f",
      "name": "Gemini Actor",
      "type": "CUSTOM.geminiCLI",
      "typeVersion": 1,
      "position": [
        1960,
        3700
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nlet raw = item.final_answer || item.response || item.raw_stdout || \"{}\";\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\n\nlet parsed = {};\ntry { parsed = JSON.parse(raw); } catch(e) {}\n\nlet accion = (parsed.accion || parsed.action || \"\").toLowerCase();\nconst map = { 'search_drive': 'buscar_en_drive', 'download_file': 'descargar_de_drive', 'run_command': 'ejecutar_comando' };\naccion = map[accion] || accion;\n\nreturn [{ json: { accion, datos: parsed.datos || {}, planner_instruction: item.instruction, user_goal: item.user_goal, history: item.history, counter: item.counter, chat_history: item.chat_history } }];"
      },
      "id": "c39b8f9d-9816-484a-bb4a-8b61255de101",
      "name": "Clean Actor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        3700
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.planner_output.next_instruction }}",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "rightValue": "/buscar.*drive/i"
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.planner_output.next_instruction }}",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "rightValue": "/descargar.*drive/i"
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.planner_output.next_instruction }}",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "rightValue": "/subir.*drive/i"
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.planner_output.next_instruction }}",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "rightValue": "/ejecutar.*comando/i"
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.planner_output.next_instruction }}",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "rightValue": "/leer.*archivo/i"
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.planner_output.next_instruction }}",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "rightValue": "/navegar.*web/i"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ae837b2a-0641-4625-8a78-9b3dbdf98556",
      "name": "Tool Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2400,
        3700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat_resp",
              "name": "output",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d0c62496-a1e6-4d51-a53b-792ec3b79818",
      "name": "Format Chat Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2430,
        3360
      ]
    },
    {
      "parameters": {
        "command": "={ '/home/emky/n8n/documentacion/SCRIPTS_AND_TOOLS/.venv_mcp/bin/python /home/emky/n8n/documentacion/SCRIPTS_AND_TOOLS/puppeteer_mcp_bridge.py ' + $json.accion + ' ' + $json.datos.url }"
      },
      "id": "4136fb25-c81d-4964-b09c-39c4d1d4a52d",
      "name": "Execute Command (Puppeteer)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2700,
        4050
      ]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Read History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read History": {
      "main": [
        [
          {
            "node": "Init Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Memory": {
      "main": [
        [
          {
            "node": "Save History to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save History to Disk": {
      "main": [
        [
          {
            "node": "Format Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Search": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Download": {
      "main": [
        [
          {
            "node": "Save to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Disk": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Disk": {
      "main": [
        [
          {
            "node": "Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Upload": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregator": {
      "main": [
        [
          {
            "node": "Update State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Init Context": {
      "main": [
        [
          {
            "node": "Loop Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Merge": {
      "main": [
        [
          {
            "node": "Planner Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planner Prep": {
      "main": [
        [
          {
            "node": "Gemini Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Planner": {
      "main": [
        [
          {
            "node": "Parse Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Planner": {
      "main": [
        [
          {
            "node": "Route Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Response": {
      "main": [
        [
          {
            "node": "Update Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actor Prep": {
      "main": [
        [
          {
            "node": "Gemini Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Actor": {
      "main": [
        [
          {
            "node": "Clean Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Actor": {
      "main": [
        [
          {
            "node": "Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Router": {
      "main": [
        [
          {
            "node": "Drive Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drive Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drive Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Disk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Command (Puppeteer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Decision": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actor Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "name": "Gemini ReAct Agent - FINAL"
}