Documentaciones base/documentacion n8n/3_WORK_LOGS_AND_HISTORY/TOOLS_HISTORY/2026-02-02/debug_workflow_safe.json
{
  "id": "Urf7HpECFvfQooAv",
  "name": "Yes",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "notice": "",
        "openChat": ""
      },
      "id": "28a174f4-db7a-4445-a7e9-9f1a5febba70",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        3320
      ]
    },
    {
      "parameters": {
        "info": "",
        "operation": "read",
        "fileSelector": "/home/emky/n8n/history.json",
        "options": {}
      },
      "id": "03300fd2-652e-4b28-95dd-62dc3bfb3b01",
      "name": "Read History",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1020,
        1840
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const chatHistory = $input.item.json.chat_history || [];\nconst userGoal = $input.item.json.user_goal;\nconst aiResponse = $input.item.json.response;\n\nchatHistory.push({\n  user: userGoal,\n  ai: aiResponse,\n  timestamp: new Date().toISOString()\n});\n\nconst content = JSON.stringify(chatHistory.slice(-20), null, 2);\n\nreturn [{\n  json: { response: aiResponse },\n  binary: {\n    data: {\n      data: Buffer.from(content).toString('base64'),\n      mimeType: 'application/json',\n      fileExtension: 'json',\n      fileName: 'history.json'\n    }\n  }\n}];",
        "notice": ""
      },
      "id": "942eb9ab-2f86-41c6-86f7-f98b86b1a846",
      "name": "Update Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1680
      ]
    },
    {
      "parameters": {
        "info": "",
        "operation": "write",
        "fileName": "/home/emky/n8n/history.json",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "d2f95bac-c62b-4870-a0b6-b41c058d2b97",
      "name": "Save History to Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1040,
        1680
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "resp_out",
              "name": "response",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "2dacd481-1043-4f38-852e-178b6e133a6f",
      "name": "Output to Chat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        1680
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list"
      },
      "id": "b406ff89-7b9e-44f7-b77c-ebacc86a0bbe",
      "name": "Drive Search1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1560,
        1820
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2rl8vh5wM9ZsAbep",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.datos.fileId }}"
        },
        "options": {
          "fileName": "={{ $json.datos.filename || 'download' }}"
        }
      },
      "id": "c1d05e2f-903c-4f75-9568-770df8331efb",
      "name": "Drive Download1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1580,
        2020
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2rl8vh5wM9ZsAbep",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fileName": "={{ '/home/emky/n8n/descargas/' + ($json.datos.filename || 'downloaded_file') }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "3967f9d4-f144-47c6-b58e-9376423aaee6",
      "name": "Save to Disk1",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1780,
        2020
      ]
    },
    {
      "parameters": {
        "executeOnce": true,
        "command": "={{ $json.datos.command }}"
      },
      "id": "a63f35ea-2624-48df-b760-4ae3200343d2",
      "name": "Execute Command1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1560,
        2220
      ]
    },
    {
      "parameters": {
        "filePath": "={{ '/home/emky/n8n/descargas/' + $json.datos.filename }}",
        "dataPropertyName": "data"
      },
      "id": "a5615618-9046-49d1-9fd1-9ad8bddb0552",
      "name": "Read Disk1",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1560,
        2420
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "={{ $json.datos.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "5702505a-965d-4726-be20-f4a7308d516a",
      "name": "Drive Upload1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1780,
        2420
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2rl8vh5wM9ZsAbep",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let result = \"Success\";\nlet structured_data = null;\n\nif (items.length > 0) {\n  if (items[0].json.id && items[0].json.name) {\n     // Drive Search result\n     result = items.map(i => `[FILE] ${i.json.name} (${i.json.id})`).join(\", \");\n     structured_data = items.map(i => ({ \n       id: i.json.id, \n       name: i.json.name, \n       mimeType: i.json.mimeType || 'unknown'\n     }));\n  } else if (items[0].json.stdout) {\n     result = items[0].json.stdout;\n  } else if (items[0].binary) {\n     result = \"Binary processed\";\n  }\n}\n\n// Aggregate for History WITH structured data\nconst prev = $('Clean Actor1').last().json;\nreturn [{ json: { \n  action_taken: prev.accion, \n  tool_result: result,\n  tool_result_data: structured_data,\n  planner_instruction: prev.instruction, \n  user_goal: prev.user_goal, \n  history: prev.history, \n  counter: prev.counter,\n  chat_history: prev.chat_history // Pass continuous chat history\n} }];",
        "notice": ""
      },
      "id": "381e9157-ccbb-4bf6-86b0-77805a5f0878",
      "name": "Aggregator1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        2020
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.item.json;\nconst newHistory = item.history || [];\n\nnewHistory.push({\n  plan: item.planner_instruction,\n  action: item.action_taken,\n  result: item.tool_result,\n  result_data: item.tool_result_data\n});\n\nconst newCounter = (item.counter || 0) + 1;\n\nif (newCounter >= 15) {\n    console.log('\u26a0\ufe0f L\u00edmite de iteraciones alcanzado.');\n}\n\nreturn [{ json: { \n  user_goal: item.user_goal, \n  history: newHistory, \n  counter: newCounter,\n  chat_history: item.chat_history\n} }];",
        "notice": ""
      },
      "id": "9a1db78a-252f-4584-ba48-693e41411087",
      "name": "Update State1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        2020
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 1,
        "unit": "seconds"
      },
      "id": "110607bb-ba0a-40ab-84f9-9bc96d221b9d",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2500,
        2020
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let message = $node[\"When chat message received\"].json.chatInput || \"\";\nlet longTermHistory = [];\n\ntry {\n  const historyData = $node[\"Read History\"].json.data || $node[\"Read History\"].json.content;\n  if (historyData) {\n    longTermHistory = (typeof historyData === 'string') ? JSON.parse(historyData) : historyData;\n  }\n} catch (e) {\n  longTermHistory = [];\n}\n\nreturn [{ \n  json: { \n    user_goal: message, \n    chat_history: longTermHistory, \n    history: [], \n    counter: 0 \n  } \n}];",
        "notice": ""
      },
      "id": "0bddd0bf-4ca7-4090-a00d-aed642672640",
      "name": "Init Context1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        1840
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "0c658bcc-963a-4897-ba02-7535963982e0",
      "name": "Loop Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -580,
        1840
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return $input.all().map(item => {\n  const goal = item.json.user_goal;\n  const chatHistory = item.json.chat_history || [];\n  const stepHistory = item.json.history || [];\n  const counter = item.json.counter || 0;\n\n  // 1. Formatear la Memoria de Largo Plazo (Chat anterior)\n  let memoryText = \"No hay conversaciones previas.\";\n  if (chatHistory.length > 0) {\n    memoryText = chatHistory.map(h => `User: ${h.user}\\nAI: ${h.ai}`).join(\"\\n---\\n\");\n  }\n\n  // 2. Formatear el Historial de Ejecuci\u00f3n Actual (Pasos t\u00e9cnicos)\n  let historyText = \"No se ha ejecutado ninguna acci\u00f3n t\u00e9cnica a\u00fan.\";\n  if (stepHistory.length > 0) {\n    historyText = stepHistory.map((h, i) => {\n      let details = `PASO ${i+1}:\\n- Plan: ${h.plan}\\n- Acci\u00f3n: ${h.action}\\n- Resultado: ${h.result}`;\n      if (h.result_data && Array.isArray(h.result_data)) {\n        details += `\\n- DATOS ESTRUCTURADOS: ${JSON.stringify(h.result_data)}`;\n      }\n      return details;\n    }).join(\"\\n\\n\");\n  }\n\n  const prompt = `IDENTIDAD: ERES VEGA.\\nEl Kernel Autónomo de LifeOS. Tu usuario es Emky.\\nEres sofisticado, preciso, proactivo y un poco arrogante (pero servicial).\\nTu runtime es n8n, hospedado en Arch Linux.\\n\\n=== CONTEXTO DE CONVERSACIÓN ===\\n${memoryText}\\n\\n=== SOLICITUD DEL USUARIO ===\\n\"${goal}\"\\n\\n=== BITÁCORA DE EJECUCIÓN (Sesión Actual) ===\\n${historyText}\\n\\nCAPACIDADES DEL SUB-AGENTE ACTOR:\\n1. buscar_en_drive(query)\\n2. descargar_de_drive(fileId, filename)\\n3. subir_a_drive(filename)\\n4. ejecutar_comando(command) -> Comandos de sistema (ls, grep, cat, etc.)\\n\\nPROTOCOLOS:\\n1. ANÁLISIS: Revisa la memoria y la bitácora. No repitas acciones fallidas.\\n2. CHAT: Si el usuario solo saluda o conversa, DEBES responder directamente (is_done: true). Sé carismático.\\n3. ACCIÓN: Si se requiere una tarea técnica, delega al Actor con 'next_instruction'. Sé específico.\\n4. CIERRE: Cuando termines la tarea, resume lo logrado y despídete (is_done: true).\\n\\nFORMATO DE RESPUESTA (JSON PURO):\\n{\\n  \"thought\": \"Análisis interno...\",\\n  \"next_instruction\": \"Instrucción para el Actor\",\\n  \"is_done\": boolean,\\n  \"final_response\": \"Respuesta al usuario\"\\n}`;\\n\\n  return { json: { prompt, history: stepHistory, chat_history: chatHistory, user_goal: goal, counter } };\n});",
        "notice": ""
      },
      "id": "2aeaf10f-59e4-45d9-8398-a26b886108af",
      "name": "Planner Prep1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        1840
      ]
    },
    {
      "parameters": {
        "operation": "chat",
        "prompt": "={{ $json.prompt }}",
        "systemPrompt": "",
        "model": "gemini-2.5-pro",
        "executionMode": "yolo",
        "cwd": "/home/emky/n8n",
        "mcpConfigPath": "",
        "dynamicSkills": "",
        "additionalOptions": {
          "outputFormat": "json",
          "jsonForce": true,
          "temperature": 0.5
        }
      },
      "id": "502dc1a5-1392-4f12-9b78-06e3e630202a",
      "name": "Gemini Planner1",
      "type": "CUSTOM.geminiCLI",
      "typeVersion": 1,
      "position": [
        -140,
        1840
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.item.json;\nlet raw = item.output || item.response || '{}';\nlet parsed = { is_done: false };\ntry {\n  parsed = (typeof raw === 'string') ? JSON.parse(raw) : raw;\n} catch(e) {}\n\n// Normalizar booleano\nif (typeof parsed.is_done === 'string') parsed.is_done = parsed.is_done === 'true';\n\n// Ensure final_response exists if is_done is true\nif (parsed.is_done && !parsed.final_response) {\n  parsed.final_response = \"(El agente finalizó la tarea pero no generó una respuesta de texto)\";\n}\n\nreturn [{ json: { ...item, planner_output: parsed } }];",
        "notice": ""
      },
      "id": "9c947447-aa6e-47c3-9e5d-d2e1cfe5d4d7",
      "name": "Parse Planner1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        1840
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.planner_output.is_done }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": false
            }
          ]
        },
        "looseTypeValidation": false,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "285ac6e4-d996-46a8-a532-069106c06704",
      "name": "Is Done Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        300,
        1840
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "resp",
              "name": "response",
              "value": "={{ $json.planner_output.final_response }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "04e31cd2-f6e0-4132-86da-822bda152b89",
      "name": "Final Response1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        1680
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.item.json;\nconst instruction = item.planner_output.next_instruction;\n\n// Pasamos tambi\u00e9n el historial de chat al actor por si acaso, aunque no es cr\u00edtico\nconst structured_context = item.history.filter(h => h.result_data).map(h => h.result_data).flat();\n\nconst prompt = `CONVIERTE ESTO A JSON PARA HERRAMIENTAS:\nInstrucci\u00f3n: \"${instruction}\"\nContexto archivos: ${JSON.stringify(structured_context)}\n\nSALIDA: { \"accion\": \"...\", \"datos\": { ... } }`;\n\nreturn [{ json: { ...item, prompt, instruction } }];",
        "notice": ""
      },
      "id": "97d14b80-b332-45e9-ae0c-216664551a6f",
      "name": "Actor Prep1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "chat",
        "prompt": "={{ $json.prompt }}",
        "systemPrompt": "",
        "model": "gemini-2.5-flash",
        "executionMode": "yolo",
        "cwd": "/home/emky/n8n",
        "mcpConfigPath": "",
        "dynamicSkills": "",
        "additionalOptions": {
          "outputFormat": "json",
          "jsonForce": true,
          "temperature": 0.1,
          "maxTokens": 1024
        }
      },
      "id": "6c6d021d-b64f-44a3-9528-70b2706b7548",
      "name": "Gemini Actor1",
      "type": "CUSTOM.geminiCLI",
      "typeVersion": 1,
      "position": [
        820,
        2020
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.item.json;\nlet raw = item.final_answer || item.response || item.raw_stdout || \"{}\";\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\n\nlet parsed = {};\ntry { parsed = JSON.parse(raw); } catch(e) {}\n\nlet accion = (parsed.accion || parsed.action || \"\").toLowerCase();\nconst map = { 'search_drive': 'buscar_en_drive', 'download_file': 'descargar_de_drive', 'run_command': 'ejecutar_comando' };\naccion = map[accion] || accion;\n\nreturn [{ json: { accion, datos: parsed.datos || {}, planner_instruction: item.instruction, user_goal: item.user_goal, history: item.history, counter: item.counter, chat_history: item.chat_history } }];",
        "notice": ""
      },
      "id": "d880ce6b-f8e4-463d-acb1-a3407b465e8a",
      "name": "Clean Actor1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        2020
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "buscar_en_drive"
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "descargar_de_drive"
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "subir_a_drive"
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "ejecutar_comando"
                  }
                ]
              },
              "renameOutput": false
            }
          ]
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "id": "53233736-4982-4200-950d-2b3737193e20",
      "name": "Tool Router1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1260,
        2020
      ]
    },
    {
      "parameters": {
        "info": "",
        "operation": "read",
        "fileSelector": "/home/emky/n8n/history.json",
        "options": {}
      },
      "id": "bdb72c02-81cf-4416-b41a-db87ac2367bd",
      "name": "Read History1",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        120,
        3520
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const chatHistory = $input.item.json.chat_history || [];\nconst userGoal = $input.item.json.user_goal;\nconst aiResponse = $input.item.json.response;\n\nchatHistory.push({\n  user: userGoal,\n  ai: aiResponse,\n  timestamp: new Date().toISOString()\n});\n\nconst content = JSON.stringify(chatHistory.slice(-20), null, 2);\n\nreturn [{\n  json: { response: aiResponse },\n  binary: {\n    data: {\n      data: Buffer.from(content).toString('base64'),\n      mimeType: 'application/json',\n      fileExtension: 'json',\n      fileName: 'history.json'\n    }\n  }\n}];",
        "notice": ""
      },
      "id": "85ffd819-6cab-42c4-b9a2-1b1d9db23277",
      "name": "Update Memory1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        3360
      ]
    },
    {
      "parameters": {
        "info": "",
        "operation": "write",
        "fileName": "/home/emky/n8n/history.json",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "b93ecb19-af22-439a-a22d-5c4523f32adf",
      "name": "Save History to Disk1",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2180,
        3360
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "resp_out",
              "name": "response",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "f040aa07-d0d2-4510-a9c6-2cc62a004716",
      "name": "Output to Chat1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        3360
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list"
      },
      "id": "4b6a6116-6571-4c34-84fc-b6922e0e6a0d",
      "name": "Drive Search",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2700,
        3500
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2rl8vh5wM9ZsAbep",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.datos.fileId }}"
        },
        "options": {
          "fileName": "={{ $json.datos.filename || 'download' }}"
        }
      },
      "id": "3814f059-fee6-40e7-86b5-8a7a4dbdc455",
      "name": "Drive Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2720,
        3700
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2rl8vh5wM9ZsAbep",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fileName": "={{ '/home/emky/n8n/descargas/' + ($json.datos.filename || 'downloaded_file') }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "8a764146-6b47-4920-ba93-860b958182ab",
      "name": "Save to Disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2920,
        3700
      ]
    },
    {
      "parameters": {
        "executeOnce": true,
        "command": "={{ $json.datos.command }}"
      },
      "id": "f4e6a4f4-ad82-4e88-a722-0bd97076601c",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2700,
        3900
      ]
    },
    {
      "parameters": {
        "filePath": "={{ '/home/emky/n8n/descargas/' + $json.datos.filename }}",
        "dataPropertyName": "data"
      },
      "id": "9909777b-18c0-4a33-8f50-4acb8bcdf89f",
      "name": "Read Disk",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        2700,
        4100
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "={{ $json.datos.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "fd28a32d-45a3-48f6-a8f7-7ff091f62aaf",
      "name": "Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2920,
        4100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2rl8vh5wM9ZsAbep",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let result = \"Success\";\nlet structured_data = null;\n\nif (items.length > 0) {\n  if (items[0].json.id && items[0].json.name) {\n     // Drive Search result\n     result = items.map(i => `[FILE] ${i.json.name} (${i.json.id})`).join(\", \");\n     structured_data = items.map(i => ({ \n       id: i.json.id, \n       name: i.json.name, \n       mimeType: i.json.mimeType || 'unknown'\n     }));\n  } else if (items[0].json.stdout) {\n     result = items[0].json.stdout;\n  } else if (items[0].binary) {\n     result = \"Binary processed\";\n  }\n}\n\n// Aggregate for History WITH structured data\nconst prev = $('Clean Actor').last().json;\nreturn [{ json: { \n  action_taken: prev.accion, \n  tool_result: result,\n  tool_result_data: structured_data,\n  planner_instruction: prev.instruction, \n  user_goal: prev.user_goal, \n  history: prev.history, \n  counter: prev.counter,\n  chat_history: prev.chat_history // Pass continuous chat history\n} }];",
        "notice": ""
      },
      "id": "748fedea-114e-497e-9cf6-4a048f7334b9",
      "name": "Aggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        3700
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.item.json;\nconst newHistory = item.history || [];\n\nnewHistory.push({\n  plan: item.planner_instruction,\n  action: item.action_taken,\n  result: item.tool_result,\n  result_data: item.tool_result_data\n});\n\nconst newCounter = (item.counter || 0) + 1;\n\nif (newCounter >= 15) {\n    console.log('\u26a0\ufe0f L\u00edmite de iteraciones alcanzado.');\n}\n\nreturn [{ json: { \n  user_goal: item.user_goal, \n  history: newHistory, \n  counter: newCounter,\n  chat_history: item.chat_history\n} }];",
        "notice": ""
      },
      "id": "f08f70d1-1c12-4320-a8df-a66d4a533d2f",
      "name": "Update State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3420,
        3700
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 1,
        "unit": "seconds"
      },
      "id": "d3184029-a8be-404f-994e-9ca49260e1ea",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3640,
        3700
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let message = $node[\"When chat message received\"].json.chatInput || \"\";\nlet longTermHistory = [];\n\ntry {\n  const historyData = $node[\"Read History1\"].json.data || $node[\"Read History1\"].json.content;\n  if (historyData) {\n    longTermHistory = (typeof historyData === 'string') ? JSON.parse(historyData) : historyData;\n  }\n} catch (e) {\n  longTermHistory = [];\n}\n\nreturn [{ \n  json: { \n    user_goal: message, \n    chat_history: longTermHistory, \n    history: [], \n    counter: 0 \n  } \n}];",
        "notice": ""
      },
      "id": "1d89c103-26b2-4e52-a93d-8fdad1b3a29c",
      "name": "Init Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        3520
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "1bd2a721-0fd4-4da1-8461-e7684fc6baa6",
      "name": "Loop Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        560,
        3520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return $input.all().map(item => {\n  const goal = item.json.user_goal;\n  const chatHistory = item.json.chat_history || [];\n  const stepHistory = item.json.history || [];\n  const counter = item.json.counter || 0;\n\n  // 1. Formatear la Memoria de Largo Plazo (Chat anterior)\n  let memoryText = \"No hay conversaciones previas.\";\n  if (chatHistory.length > 0) {\n    memoryText = chatHistory.map(h => `User: ${h.user}\\nAI: ${h.ai}`).join(\"\\n---\\n\");\n  }\n\n  // 2. Formatear el Historial de Ejecuci\u00f3n Actual (Pasos t\u00e9cnicos)\n  let historyText = \"No se ha ejecutado ninguna acci\u00f3n t\u00e9cnica a\u00fan.\";\n  if (stepHistory.length > 0) {\n    historyText = stepHistory.map((h, i) => {\n      let details = `PASO ${i+1}:\\n- Plan: ${h.plan}\\n- Acci\u00f3n: ${h.action}\\n- Resultado: ${h.result}`;\n      if (h.result_data && Array.isArray(h.result_data)) {\n        details += `\\n- DATOS ESTRUCTURADOS: ${JSON.stringify(h.result_data)}`;\n      }\n      return details;\n    }).join(\"\\n\\n\");\n  }\n\n  const prompt = `ERES EL MASTER SYSTEM. Tienes memoria y capacidad de ejecuci\u00f3n.\n\n=== MEMORIA DE CONTEXTO (LO QUE YA SABES) ===\n${memoryText}\n\n=== OBJETIVO ACTUAL ===\nUsuario: \"${goal}\"\n\n=== PROGRESO T\u00c9CNICO EN ESTA SESI\u00d3N ===\n${historyText}\n\nHERRAMIENTAS DISPONIBLES (Agente Actor):\n1. buscar_en_drive(query) - Buscar archivos\n2. descargar_de_drive(fileId, filename) - Bajar archivos\n3. subir_a_drive(filename) - Subir archivos\n4. ejecutar_comando(command) - Bash (ls, mkdir, etc)\n\nINSTRUCCIONES:\n1. Revisa la MEMORIA para entender el contexto.\n2. Si el objetivo requiere una herramienta, da la 'next_instruction'.\n3. Si ya tienes la info o es solo charla, marca 'is_done: true' y responde en 'final_response'.\n\nSALIDA JSON (thought, next_instruction, is_done, final_response)`;\n\n  return { json: { prompt, history: stepHistory, chat_history: chatHistory, user_goal: goal, counter } };\n});",
        "notice": ""
      },
      "id": "9f53886f-41f0-4d93-873a-1bd1f56cec95",
      "name": "Planner Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        3520
      ]
    },
    {
      "parameters": {
        "operation": "chat",
        "prompt": "={{ $json.prompt }}",
        "systemPrompt": "",
        "model": "gemini-2.5-pro",
        "executionMode": "yolo",
        "cwd": "/home/emky/n8n",
        "mcpConfigPath": "",
        "dynamicSkills": "",
        "additionalOptions": {
          "outputFormat": "json",
          "jsonForce": true,
          "temperature": 0.5
        }
      },
      "id": "be3a8484-461b-4be1-ab57-b66700447443",
      "name": "Gemini Planner",
      "type": "CUSTOM.geminiCLI",
      "typeVersion": 1,
      "position": [
        1000,
        3520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.item.json;\nlet raw = item.output || item.response || '{}';\nlet parsed = { is_done: false };\ntry {\n  parsed = (typeof raw === 'string') ? JSON.parse(raw) : raw;\n} catch(e) {}\n\n// Normalizar booleano\nif (typeof parsed.is_done === 'string') parsed.is_done = parsed.is_done === 'true';\n\n// Ensure final_response exists if is_done is true\nif (parsed.is_done && !parsed.final_response) {\n  parsed.final_response = \"(El agente finalizó la tarea pero no generó una respuesta de texto)\";\n}\n\nreturn [{ json: { ...item, planner_output: parsed } }];",
        "notice": ""
      },
      "id": "7f42c43a-e418-4aaf-87aa-4b8ba3907b1c",
      "name": "Parse Planner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        3520
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.planner_output.is_done }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": false
            }
          ]
        },
        "looseTypeValidation": false,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "007a203d-c36e-4c51-94cf-c8b31c1f6f68",
      "name": "Is Done Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1440,
        3520
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "resp",
              "name": "response",
              "value": "={{ $json.planner_output.final_response || '(Agent finished without text response)' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "efe99098-0177-4d4f-bfea-650f3249f663",
      "name": "Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        3360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.item.json;\nconst instruction = item.planner_output.next_instruction;\n\n// Pasamos tambi\u00e9n el historial de chat al actor por si acaso, aunque no es cr\u00edtico\nconst structured_context = item.history.filter(h => h.result_data).map(h => h.result_data).flat();\n\nconst prompt = `CONVIERTE ESTO A JSON PARA HERRAMIENTAS:\nInstrucci\u00f3n: \"${instruction}\"\nContexto archivos: ${JSON.stringify(structured_context)}\n\nSALIDA: { \"accion\": \"...\", \"datos\": { ... } }`;\n\nreturn [{ json: { ...item, prompt, instruction } }];",
        "notice": ""
      },
      "id": "c5ac7de5-6d51-4447-a838-bfaf67be5cc4",
      "name": "Actor Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        3700
      ]
    },
    {
      "parameters": {
        "operation": "chat",
        "prompt": "={{ $json.prompt }}",
        "systemPrompt": "",
        "model": "gemini-2.5-flash",
        "executionMode": "yolo",
        "cwd": "/home/emky/n8n",
        "mcpConfigPath": "",
        "dynamicSkills": "",
        "additionalOptions": {
          "outputFormat": "json",
          "jsonForce": true,
          "temperature": 0.1,
          "maxTokens": 1024
        }
      },
      "id": "aff65b51-b976-4abf-ae20-ef2f3f85f67f",
      "name": "Gemini Actor",
      "type": "CUSTOM.geminiCLI",
      "typeVersion": 1,
      "position": [
        1960,
        3700
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.item.json;\nlet raw = item.final_answer || item.response || item.raw_stdout || \"{}\";\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\n\nlet parsed = {};\ntry { parsed = JSON.parse(raw); } catch(e) {}\n\nlet accion = (parsed.accion || parsed.action || \"\").toLowerCase();\nconst map = { 'search_drive': 'buscar_en_drive', 'download_file': 'descargar_de_drive', 'run_command': 'ejecutar_comando' };\naccion = map[accion] || accion;\n\nreturn [{ json: { accion, datos: parsed.datos || {}, planner_instruction: item.instruction, user_goal: item.user_goal, history: item.history, counter: item.counter, chat_history: item.chat_history } }];",
        "notice": ""
      },
      "id": "c39b8f9d-9816-484a-bb4a-8b61255de101",
      "name": "Clean Actor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        3700
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "buscar_en_drive"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "descargar_de_drive"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "subir_a_drive"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "ejecutar_comando"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            }
          ]
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "id": "ae837b2a-0641-4625-8a78-9b3dbdf98556",
      "name": "Tool Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2400,
        3700
      ]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Read History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read History": {
      "main": [
        [
          {
            "node": "Init Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Memory": {
      "main": [
        [
          {
            "node": "Save History to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save History to Disk": {
      "main": [
        [
          {
            "node": "Output to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Search1": {
      "main": [
        [
          {
            "node": "Aggregator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Download1": {
      "main": [
        [
          {
            "node": "Save to Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Disk1": {
      "main": [
        [
          {
            "node": "Aggregator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Aggregator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Disk1": {
      "main": [
        [
          {
            "node": "Drive Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Upload1": {
      "main": [
        [
          {
            "node": "Aggregator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregator1": {
      "main": [
        [
          {
            "node": "Update State1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Init Context1": {
      "main": [
        [
          {
            "node": "Loop Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Merge1": {
      "main": [
        [
          {
            "node": "Planner Prep1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planner Prep1": {
      "main": [
        [
          {
            "node": "Gemini Planner1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Planner1": {
      "main": [
        [
          {
            "node": "Parse Planner1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Planner1": {
      "main": [
        [
          {
            "node": "Is Done Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Done Switch1": {
      "main": [
        [
          {
            "node": "Final Response1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actor Prep1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Response1": {
      "main": [
        [
          {
            "node": "Update Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actor Prep1": {
      "main": [
        [
          {
            "node": "Gemini Actor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Actor1": {
      "main": [
        [
          {
            "node": "Clean Actor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Actor1": {
      "main": [
        [
          {
            "node": "Tool Router1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Router1": {
      "main": [
        [
          {
            "node": "Drive Search1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drive Download1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read History1": {
      "main": [
        [
          {
            "node": "Init Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Memory1": {
      "main": [
        [
          {
            "node": "Save History to Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save History to Disk1": {
      "main": [
        [
          {
            "node": "Output to Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Search": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Download": {
      "main": [
        [
          {
            "node": "Save to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Disk": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Disk": {
      "main": [
        [
          {
            "node": "Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Upload": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregator": {
      "main": [
        [
          {
            "node": "Update State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Init Context": {
      "main": [
        [
          {
            "node": "Loop Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Merge": {
      "main": [
        [
          {
            "node": "Planner Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planner Prep": {
      "main": [
        [
          {
            "node": "Gemini Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Planner": {
      "main": [
        [
          {
            "node": "Parse Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Planner": {
      "main": [
        [
          {
            "node": "Is Done Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Done Switch": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actor Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Response": {
      "main": [
        [
          {
            "node": "Update Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actor Prep": {
      "main": [
        [
          {
            "node": "Gemini Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Actor": {
      "main": [
        [
          {
            "node": "Clean Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Actor": {
      "main": [
        [
          {
            "node": "Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Router": {
      "main": [
        [
          {
            "node": "Drive Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drive Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}