documentacion n8n/3_MEMORY/FORENSICS_AND_LOGS/last_exec_debug.json
[
  {
    "startData": "1",
    "resultData": "2",
    "executionData": "3"
  },
  {},
  {
    "runData": "4",
    "pinData": "5",
    "lastNodeExecuted": "6"
  },
  {
    "contextData": "7",
    "nodeExecutionStack": "8",
    "metadata": "9",
    "waitingExecution": "10",
    "waitingExecutionSource": "11"
  },
  {
    "When chat message received": "12",
    "Read History": "13",
    "Init Context": "14",
    "Loop Merge": "15",
    "Planner Prep": "16",
    "Gemini Planner": "17",
    "Parse Planner": "18",
    "Is Done Switch": "19",
    "Final Response": "20",
    "Update Memory": "21",
    "Save History to Disk": "22",
    "Format Chat Response": "23"
  },
  {},
  "Format Chat Response",
  {},
  [],
  {},
  {},
  {},
  [
    "24"
  ],
  [
    "25"
  ],
  [
    "26"
  ],
  [
    "27"
  ],
  [
    "28"
  ],
  [
    "29"
  ],
  [
    "30"
  ],
  [
    "31"
  ],
  [
    "32"
  ],
  [
    "33"
  ],
  [
    "34"
  ],
  [
    "35"
  ],
  {
    "startTime": 1770090366256,
    "executionTime": 0,
    "executionStatus": "36",
    "data": "37",
    "source": "38"
  },
  {
    "hints": "39",
    "startTime": 1770090366319,
    "executionTime": 3,
    "source": "40",
    "executionStatus": "36",
    "data": "41"
  },
  {
    "hints": "42",
    "startTime": 1770090366324,
    "executionTime": 3,
    "source": "43",
    "executionStatus": "36",
    "data": "44"
  },
  {
    "hints": "45",
    "startTime": 1770090366329,
    "executionTime": 1,
    "source": "46",
    "executionStatus": "36",
    "data": "47"
  },
  {
    "hints": "48",
    "startTime": 1770090366331,
    "executionTime": 4,
    "source": "49",
    "executionStatus": "36",
    "data": "50"
  },
  {
    "hints": "51",
    "startTime": 1770090366336,
    "executionTime": 24899,
    "source": "52",
    "executionStatus": "36",
    "data": "53"
  },
  {
    "hints": "54",
    "startTime": 1770090391236,
    "executionTime": 6,
    "source": "55",
    "executionStatus": "36",
    "data": "56"
  },
  {
    "hints": "57",
    "startTime": 1770090391243,
    "executionTime": 1,
    "source": "58",
    "executionStatus": "36",
    "data": "59"
  },
  {
    "hints": "60",
    "startTime": 1770090391245,
    "executionTime": 1,
    "source": "61",
    "executionStatus": "36",
    "data": "62"
  },
  {
    "hints": "63",
    "startTime": 1770090391247,
    "executionTime": 3,
    "source": "64",
    "executionStatus": "36",
    "data": "65"
  },
  {
    "hints": "66",
    "startTime": 1770090391252,
    "executionTime": 1,
    "source": "67",
    "executionStatus": "36",
    "data": "68"
  },
  {
    "hints": "69",
    "startTime": 1770090391254,
    "executionTime": 1,
    "source": "70",
    "executionStatus": "36",
    "data": "71"
  },
  "success",
  {
    "main": "72"
  },
  [
    null
  ],
  [],
  [
    "73"
  ],
  {
    "main": "74"
  },
  [],
  [
    "75"
  ],
  {
    "main": "76"
  },
  [],
  [
    "77",
    null
  ],
  {
    "main": "78"
  },
  [],
  [
    "79"
  ],
  {
    "main": "80"
  },
  [],
  [
    "81"
  ],
  {
    "main": "82"
  },
  [],
  [
    "83"
  ],
  {
    "main": "84"
  },
  [],
  [
    "85"
  ],
  {
    "main": "86"
  },
  [],
  [
    "87"
  ],
  {
    "main": "88"
  },
  [],
  [
    "89"
  ],
  {
    "main": "90"
  },
  [],
  [
    "91"
  ],
  {
    "main": "92"
  },
  [],
  [
    "93"
  ],
  {
    "main": "94"
  },
  [
    "95"
  ],
  {
    "previousNode": "96"
  },
  [
    "97",
    "98"
  ],
  {
    "previousNode": "99"
  },
  [
    "100"
  ],
  {
    "previousNode": "101"
  },
  [
    "102"
  ],
  {
    "previousNode": "103"
  },
  [
    "104"
  ],
  {
    "previousNode": "105"
  },
  [
    "106"
  ],
  {
    "previousNode": "107"
  },
  [
    "108"
  ],
  {
    "previousNode": "109"
  },
  [
    "110",
    "111"
  ],
  {
    "previousNode": "112"
  },
  [
    "113"
  ],
  {
    "previousNode": "114"
  },
  [
    "115"
  ],
  {
    "previousNode": "116"
  },
  [
    "117"
  ],
  {
    "previousNode": "118"
  },
  [
    "119"
  ],
  [
    "120"
  ],
  "When chat message received",
  [
    "121"
  ],
  [],
  "Read History",
  [
    "122"
  ],
  "Init Context",
  [
    "123"
  ],
  "Loop Merge",
  [
    "124"
  ],
  "Planner Prep",
  [
    "125"
  ],
  "Gemini Planner",
  [
    "126"
  ],
  "Parse Planner",
  [
    "127"
  ],
  [],
  "Is Done Switch",
  [
    "128"
  ],
  "Final Response",
  [
    "129"
  ],
  "Update Memory",
  [
    "130"
  ],
  "Save History to Disk",
  [
    "131"
  ],
  {
    "json": "132"
  },
  {
    "binary": "133",
    "json": "134",
    "pairedItem": "135"
  },
  {
    "json": "136",
    "pairedItem": "137"
  },
  {
    "json": "136",
    "pairedItem": "138"
  },
  {
    "json": "139",
    "pairedItem": "140"
  },
  {
    "json": "141",
    "pairedItem": 0
  },
  {
    "json": "142",
    "pairedItem": "143"
  },
  {
    "json": "142",
    "pairedItem": "144"
  },
  {
    "json": "145",
    "pairedItem": "146"
  },
  {
    "json": "147",
    "binary": "148",
    "pairedItem": "149"
  },
  {
    "json": "150",
    "pairedItem": "151",
    "binary": "152"
  },
  {
    "json": "153",
    "pairedItem": "154"
  },
  {
    "sessionId": "155",
    "action": "156",
    "chatInput": "157"
  },
  {
    "data": "158"
  },
  {
    "mimeType": "159",
    "fileType": "160",
    "fileName": "161",
    "directory": "162",
    "fileExtension": "160",
    "fileSize": "163"
  },
  {
    "item": 0
  },
  {
    "user_goal": "157",
    "chat_history": "164",
    "history": "165",
    "counter": 0
  },
  {
    "item": 0
  },
  {
    "item": 0
  },
  {
    "prompt": "166",
    "history": "167",
    "chat_history": "168",
    "user_goal": "157",
    "counter": 0
  },
  {
    "item": 0
  },
  {
    "prompt": "166",
    "history": "167",
    "chat_history": "168",
    "user_goal": "157",
    "counter": 0,
    "session_id": "169",
    "response": "170",
    "stats": "171"
  },
  {
    "prompt": "166",
    "history": "167",
    "chat_history": "168",
    "user_goal": "157",
    "counter": 0,
    "session_id": "169",
    "response": "170",
    "stats": "172",
    "planner_output": "173"
  },
  {
    "item": 0
  },
  {
    "item": 0
  },
  {
    "response": "174"
  },
  {
    "item": 0
  },
  {
    "response": "174"
  },
  {
    "data": "175"
  },
  {
    "item": 0
  },
  {
    "response": "174",
    "fileName": "176"
  },
  {
    "item": 0
  },
  {
    "data": "175"
  },
  {
    "output": "174"
  },
  {
    "item": 0
  },
  "test-9e22b1b3-e606-4d83-812a-7feb05d6711e",
  "sendMessage",
  "Hola mundo ve a mi google drive y une los archivos takeout en una sola carpeta porfis",
  {
    "mimeType": "159",
    "fileType": "160",
    "fileExtension": "160",
    "data": "177",
    "directory": "162",
    "fileName": "161",
    "fileSize": "163"
  },
  "application/json",
  "json",
  "history.json",
  "/home/emky/n8n",
  "207 B",
  [],
  [],
  "ESTABLECE IDENTIDAD: ERES VEGA OS.\nUsuario: Emky.\nEres el Kernel de n8n. No eres un chatbot gen\u00e9rico, eres un sistema de orquestaci\u00f3n.\n\n=== HERRAMIENTAS REALES (Usa solo estas) ===\n1. buscar_en_drive(query): Encuentra IDs de archivos.\n2. descargar_de_drive(fileId, filename): Baja archivos de Drive al disco local.\n3. subir_a_drive(filename): Sube archivos de local a Drive.\n4. ejecutar_comando(command): Bash shell. \n   - SI QUIERES VER ARCHIVOS LOCALES USA: ejecutar_comando(\"ls -R\")\n   - NUNCA INVENTES \"list_directory\" O \"read_folder\".\n5. leer_archivo(path): Lee el contenido de un archivo de texto.\n\n=== REGLAS DE ORO ===\n- SI EL USUARIO PIDE UNA TAREA: No te limites a decir que puedes hacerla, \u00a1HAZLA! (is_done: false).\n- SI TE DAN UNA ORDEN COMPLEJA: Div\u00eddela en pasos. Primer paso: Explorar (ls o buscar).\n- SI TERMINASTE: Resume los logros y pon is_done: true.\n\n=== FORMATO JSON ===\n{\n  \"thought\": \"An\u00e1lisis...\",\n  \"next_instruction\": \"Elegir de la lista de herramientas\",\n  \"is_done\": boolean,\n  \"final_response\": \"Solo si es charla o fin de tarea\"\n}\n\nOBJETIVO: Hola mundo ve a mi google drive y une los archivos takeout en una sola carpeta porfis\n\nBITACORA:\nSin acciones previas.",
  [],
  [],
  "ef7d75e4-9c3b-41a1-bd53-384ea55e8b27",
  "```json\n{\n  \"thought\": \"El usuario quiere que junte sus archivos de Google Takeout en una sola carpeta. El primer paso es buscar esos archivos en su Google Drive para identificar cu\u00e1les son. Utilizar\u00e9 la herramienta `buscar_en_drive` con la consulta 'takeout' para obtener la lista de archivos y sus IDs.\",\n  \"next_instruction\": \"buscar_en_drive(query='takeout')\",\n  \"is_done\": false,\n  \"final_response\": \"\"\n}\n```",
  {
    "models": "178",
    "tools": "179",
    "files": "180"
  },
  {
    "models": "181",
    "tools": "182",
    "files": "183"
  },
  {
    "thought": "184",
    "next_instruction": "185",
    "is_done": false,
    "final_response": "186"
  },
  "(Agent finished without text response)",
  {
    "data": "187",
    "mimeType": "159",
    "fileExtension": "160",
    "fileName": "161"
  },
  "/home/emky/n8n/history.json",
  "WwogIHsKICAgICJhaSI6ICJBbnRpZ3Jhdml0eSBPUyBmdWxseSBpbml0aWFsaXplZC4gQWxsIHN5c3RlbXMgb3BlcmF0aW9uYWwuIEkgaGF2ZSBhc3NpbWlsYXRlZCB0aGUgc3lzdGVtIGFyY2hpdGVjdHVyZSBhbmQgYW0gcmVhZHkgZm9yIHlvdXIgY29tbWFuZCwgRW1reS4iLAogICAgInRpbWVzdGFtcCI6ICIyMDI2LTAyLTAzVDAzOjM4OjE5LjQwMVoiCiAgfQpd",
  {
    "gemini-2.5-pro": "188"
  },
  {
    "totalCalls": 0,
    "totalSuccess": 0,
    "totalFail": 0,
    "totalDurationMs": 0,
    "totalDecisions": "189",
    "byName": "190"
  },
  {
    "totalLinesAdded": 0,
    "totalLinesRemoved": 0
  },
  {
    "gemini-2.5-pro": "191"
  },
  {
    "totalCalls": 0,
    "totalSuccess": 0,
    "totalFail": 0,
    "totalDurationMs": 0,
    "totalDecisions": "192",
    "byName": "193"
  },
  {
    "totalLinesAdded": 0,
    "totalLinesRemoved": 0
  },
  "El usuario quiere que junte sus archivos de Google Takeout en una sola carpeta. El primer paso es buscar esos archivos en su Google Drive para identificar cu\u00e1les son. Utilizar\u00e9 la herramienta `buscar_en_drive` con la consulta 'takeout' para obtener la lista de archivos y sus IDs.",
  "buscar_en_drive(query='takeout')",
  "",
  "WwogIHsKICAgICJhaSI6ICIoQWdlbnQgZmluaXNoZWQgd2l0aG91dCB0ZXh0IHJlc3BvbnNlKSIsCiAgICAidGltZXN0YW1wIjogIjIwMjYtMDItMDNUMDM6NDY6MzEuMjUwWiIKICB9Cl0=",
  {
    "api": "194",
    "tokens": "195"
  },
  {
    "accept": 0,
    "reject": 0,
    "modify": 0,
    "auto_accept": 0
  },
  {},
  {
    "api": "196",
    "tokens": "197"
  },
  {
    "accept": 0,
    "reject": 0,
    "modify": 0,
    "auto_accept": 0
  },
  {},
  {
    "totalRequests": 1,
    "totalErrors": 0,
    "totalLatencyMs": 18764
  },
  {
    "input": 6322,
    "prompt": 6322,
    "candidates": 112,
    "total": 8146,
    "cached": 0,
    "thoughts": 1712,
    "tool": 0
  },
  {
    "totalRequests": 1,
    "totalErrors": 0,
    "totalLatencyMs": 18764
  },
  {
    "input": 6322,
    "prompt": 6322,
    "candidates": 112,
    "total": 8146,
    "cached": 0,
    "thoughts": 1712,
    "tool": 0
  }
]