Documentaciones base/documentacion n8n/3_MEMORY/FORENSICS_AND_LOGS/exec_434_raw.json
[{"resultData":"1"},{"error":"2","runData":"3"},{"level":"4","tags":"5","context":"6","functionality":"7","name":"8","timestamp":1770147325008,"message":"9","stack":"10"},{},"warning",{},{},"regular","WorkflowOperationError","The workflow has issues and can for that reason not be executed. Please fix them first.","WorkflowOperationError: The workflow has issues and can for that reason not be executed. Please fix them first.\n    at WorkflowExecute.processRunExecutionData (/home/emky/n8n/node_modules/n8n-core/src/WorkflowExecute.ts:910:10)\n    at WorkflowExecute.runPartialWorkflow (/home/emky/n8n/node_modules/n8n-core/src/WorkflowExecute.ts:315:15)\n    at WorkflowRunner.runMainProcess (/home/emky/n8n/node_modules/n8n/src/workflow-runner.ts:312:42)\n    at WorkflowRunner.run (/home/emky/n8n/node_modules/n8n/src/workflow-runner.ts:147:4)\n    at WorkflowExecutionService.executeManually (/home/emky/n8n/node_modules/n8n/src/workflows/workflow-execution.service.ts:148:23)\n    at WorkflowsController.runManually (/home/emky/n8n/node_modules/n8n/src/workflows/workflows.controller.ts:404:10)\n    at handler (/home/emky/n8n/node_modules/n8n/src/decorators/controller.registry.ts:105:12)\n    at /home/emky/n8n/node_modules/n8n/src/response-helper.ts:154:17"]
