Documentaciones base/documentacion n8n/3_MEMORY/FORENSICS_AND_LOGS/exec_384_raw.json
[{"startData":"1","resultData":"2","executionData":"3"},{},{"runData":"4","pinData":"5","lastNodeExecuted":"6"},{"contextData":"7","nodeExecutionStack":"8","metadata":"9","waitingExecution":"10","waitingExecutionSource":"11"},{"When chat message received":"12","Read History":"13","Init Context":"14","Loop Merge":"15","Planner Prep":"16","Gemini Planner":"17","Parse Planner":"18","Is Done Switch":"19","Final Response":"20","Update Memory":"21","Save History to Disk":"22","Format Chat Response":"23"},{},"Format Chat Response",{},[],{},{},{},["24"],["25"],["26"],["27"],["28"],["29"],["30"],["31"],["32"],["33"],["34"],["35"],{"startTime":1770095155185,"executionTime":0,"executionStatus":"36","data":"37","source":"38"},{"hints":"39","startTime":1770095155265,"executionTime":6,"source":"40","executionStatus":"36","data":"41"},{"hints":"42","startTime":1770095155272,"executionTime":7,"source":"43","executionStatus":"36","data":"44"},{"hints":"45","startTime":1770095155289,"executionTime":1,"source":"46","executionStatus":"36","data":"47"},{"hints":"48","startTime":1770095155292,"executionTime":6,"source":"49","executionStatus":"36","data":"50"},{"hints":"51","startTime":1770095155301,"executionTime":11876,"source":"52","executionStatus":"36","data":"53"},{"hints":"54","startTime":1770095167178,"executionTime":6,"source":"55","executionStatus":"36","data":"56"},{"hints":"57","startTime":1770095167185,"executionTime":1,"source":"58","executionStatus":"36","data":"59"},{"hints":"60","startTime":1770095167187,"executionTime":8,"source":"61","executionStatus":"36","data":"62"},{"hints":"63","startTime":1770095167196,"executionTime":5,"source":"64","executionStatus":"36","data":"65"},{"hints":"66","startTime":1770095167204,"executionTime":2,"source":"67","executionStatus":"36","data":"68"},{"hints":"69","startTime":1770095167208,"executionTime":1,"source":"70","executionStatus":"36","data":"71"},"success",{"main":"72"},[null],[],["73"],{"main":"74"},[],["75"],{"main":"76"},[],["77",null],{"main":"78"},[],["79"],{"main":"80"},[],["81"],{"main":"82"},[],["83"],{"main":"84"},[],["85"],{"main":"86"},[],["87"],{"main":"88"},[],["89"],{"main":"90"},[],["91"],{"main":"92"},[],["93"],{"main":"94"},["95"],{"previousNode":"96"},["97","98"],{"previousNode":"99"},["100"],{"previousNode":"101"},["102"],{"previousNode":"103"},["104"],{"previousNode":"105"},["106"],{"previousNode":"107"},["108"],{"previousNode":"109"},["110","111"],{"previousNode":"112"},["113"],{"previousNode":"114"},["115"],{"previousNode":"116"},["117"],{"previousNode":"118"},["119"],["120"],"When chat message received",["121"],[],"Read History",["122"],"Init Context",["123"],"Loop Merge",["124"],"Planner Prep",["125"],"Gemini Planner",["126"],"Parse Planner",["127"],[],"Is Done Switch",["128"],"Final Response",["129"],"Update Memory",["130"],"Save History to Disk",["131"],{"json":"132"},{"binary":"133","json":"134","pairedItem":"135"},{"json":"136","pairedItem":"137"},{"json":"136","pairedItem":"138"},{"json":"139","pairedItem":"140"},{"json":"141","pairedItem":0},{"json":"142","pairedItem":"143"},{"json":"142","pairedItem":"144"},{"json":"145","pairedItem":"146"},{"json":"147","binary":"148","pairedItem":"149"},{"json":"150","pairedItem":"151","binary":"152"},{"json":"153","pairedItem":"154"},{"sessionId":"155","action":"156","chatInput":"157"},{"data":"158"},{"mimeType":"159","fileType":"160","fileName":"161","directory":"162","fileExtension":"160","fileSize":"163"},{"item":0},{"user_goal":"157","chat_history":"164","history":"165","counter":0},{"item":0},{"item":0},{"prompt":"166","history":"167","chat_history":"168","user_goal":"157"},{"item":0},{"prompt":"166","history":"167","chat_history":"168","user_goal":"157","session_id":"169","response":"170","stats":"171"},{"prompt":"166","history":"167","chat_history":"168","user_goal":"157","session_id":"169","response":"170","stats":"172","planner_output":"173"},{"item":0},{"item":0},{"response":"174"},{"item":0},{"response":"174","history":"175"},{"data":"176"},{"item":0},{"response":"174","history":"175","fileName":"177"},{"item":0},{"data":"176"},{"output":"174"},{"item":0},"test-9e22b1b3-e606-4d83-812a-7feb05d6711e","sendMessage","AUTOTEST_V6_FINAL: busca mis archivos de takeout en drive y dime que ves",{"mimeType":"159","fileType":"160","fileExtension":"160","data":"178","directory":"162","fileName":"161","fileSize":"163"},"application/json","json","history.json","/home/emky/n8n","207 B",[],[],"SISTEMA OPERATIVO VEGA. NÚCLEO KERNEL.\nUsuario: Emky.\n\nTIENES ESTAS 5 HERRAMIENTAS REALES. NO INVENTES OTRAS:\n1. buscar_en_drive(query): Encuentra archivos.\n2. descargar_de_drive(fileId, filename): Baja a disco local.\n3. subir_a_drive(filename): Sube de local a Drive.\n4. ejecutar_comando(command): Bash real (ls, mkdir, unzip, rm).\n5. leer_archivo(path): Lee texto local.\n\nREGLAS DE ORO:\n- NO INVENTES 'list_directory' o 'tool_code'. Usa solo 'ejecutar_comando' para ver carpetas (ls -R).\n- USA ESTE ESQUEMA EXACTO. SI NO LO USAS, EL KERNEL FALLARÁ.\n- \"next_instruction\" DEBE TENER EL COMANDO O NULL.\n\nRESPUESTA UNICAMENTE EN JSON:\n{\n  \"thought\": \"Análisis breve.\",\n  \"next_instruction\": \"HerramientaReal(args)\",\n  \"is_done\": false,\n  \"final_response\": null\n}\n\nOBJETIVO: \"AUTOTEST_V6_FINAL: busca mis archivos de takeout en drive y dime que ves\"\nHISTORIAL: Nueva charla.\nACCIONES: Sin acciones previas.",[],[],"e466f14a-fd15-40c3-beb4-c95849b6ca02","```json\n{\n  \"thought\": \"El usuario quiere que busque sus archivos de takeout en Google Drive. El primer paso es usar la herramienta `buscar_en_drive` con la consulta 'takeout' para encontrar los archivos relevantes.\",\n  \"next_instruction\": \"buscar_en_drive('takeout')\",\n  \"is_done\": false,\n  \"final_response\": null\n}\n```",{"models":"179","tools":"180","files":"181"},{"models":"182","tools":"183","files":"184"},{"thought":"185","next_instruction":"186","is_done":false,"final_response":null,"debug_timestamp":"187"},"ERROR DE RUTEO: El Switch mandó aquí un is_done=false",["188"],{"data":"189","mimeType":"159","fileExtension":"160","fileName":"161"},"/home/emky/n8n/history.json","WwogIHsKICAgICJ1c2VyIjogImJhamEgbWlzIGFyY2hpdm9zIHRha2VvdXQgZGUgZHJpdmV5IHVuZWVsb3MgZW4gdW4gc29sbyBwYXRoIGFxdWkgZW4gbWkgc2lzdGVtYSBsb2NhbCIsCiAgICAiYWkiOiAiKEFnZW50IGZpbmlzaGVkIHdpdGhvdXQgdGV4dCByZXNwb25zZSkiLAogICAgInRpbWVzdGFtcCI6ICIyMDI2LTAyLTAzVDA0OjQyOjQ1Ljk5MFoiCiAgfQpd",{"gemini-2.5-pro":"190"},{"totalCalls":0,"totalSuccess":0,"totalFail":0,"totalDurationMs":0,"totalDecisions":"191","byName":"192"},{"totalLinesAdded":0,"totalLinesRemoved":0},{"gemini-2.5-pro":"193"},{"totalCalls":0,"totalSuccess":0,"totalFail":0,"totalDurationMs":0,"totalDecisions":"194","byName":"195"},{"totalLinesAdded":0,"totalLinesRemoved":0},"El usuario quiere que busque sus archivos de takeout en Google Drive. El primer paso es usar la herramienta `buscar_en_drive` con la consulta 'takeout' para encontrar los archivos relevantes.","buscar_en_drive('takeout')","2026-02-03T05:06:07.183Z",{"user":"157","ai":"174","timestamp":"196"},"WwogIHsKICAgICJ1c2VyIjogIkFVVE9URVNUX1Y2X0ZJTkFMOiBidXNjYSBtaXMgYXJjaGl2b3MgZGUgdGFrZW91dCBlbiBkcml2ZSB5IGRpbWUgcXVlIHZlcyIsCiAgICAiYWkiOiAiRVJST1IgREUgUlVURU86IEVsIFN3aXRjaCBtYW5kw7MgYXF1w60gdW4gaXNfZG9uZT1mYWxzZSIsCiAgICAidGltZXN0YW1wIjogIjIwMjYtMDItMDNUMDU6MDY6MDcuMjAwWiIKICB9Cl0=",{"api":"197","tokens":"198"},{"accept":0,"reject":0,"modify":0,"auto_accept":0},{},{"api":"199","tokens":"200"},{"accept":0,"reject":0,"modify":0,"auto_accept":0},{},"2026-02-03T05:06:07.200Z",{"totalRequests":1,"totalErrors":0,"totalLatencyMs":4174},{"input":6439,"prompt":6439,"candidates":88,"total":6650,"cached":0,"thoughts":123,"tool":0},{"totalRequests":1,"totalErrors":0,"totalLatencyMs":4174},{"input":6439,"prompt":6439,"candidates":88,"total":6650,"cached":0,"thoughts":123,"tool":0}]