Documentaciones base/documentacion n8n/3_MEMORY/FORENSICS_AND_LOGS/raw_exec_405.json
[{"startData":"1","resultData":"2","executionData":"3"},{},{"runData":"4","pinData":"5","lastNodeExecuted":"6","error":"7"},{"contextData":"8","nodeExecutionStack":"9","metadata":"10","waitingExecution":"11","waitingExecutionSource":"12"},{"When chat message received":"13","Read History":"14","Init Context":"15","Loop Merge":"16","Planner Prep":"17","Gemini Planner":"18"},{},"Gemini Planner",{"level":"19","tags":"20","context":"21","functionality":"22","name":"23","timestamp":1770111207646,"node":"24","messages":"25","message":"26","stack":"27"},{},["28"],{},{},{},["29"],["30"],["31"],["32"],["33"],["34"],"error",{},{"itemIndex":0},"regular","NodeOperationError",{"parameters":"35","id":"36","name":"6","type":"37","typeVersion":1,"position":"38"},[],"❌ ERROR DE CACHÉ: Problema con el Context Caching. Verifica el Cache ID o el TTL.\n\nSi usaste un Cache ID, asegúrate de que sea válido y no haya expirado.","NodeOperationError: ❌ ERROR DE CACHÉ: Problema con el Context Caching. Verifica el Cache ID o el TTL.\n\nSi usaste un Cache ID, asegúrate de que sea válido y no haya expirado.\n    at Object.execute (/home/emky/n8n/custom-nodes/n8n-nodes-gemini-cli-local/dist/nodes/GeminiCLI/GeminiCLI.node.js:572:23)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at Workflow.runNode (/home/emky/n8n/node_modules/n8n-workflow/src/Workflow.ts:1382:8)\n    at /home/emky/n8n/node_modules/n8n-core/src/WorkflowExecute.ts:1167:27\n    at /home/emky/n8n/node_modules/n8n-core/src/WorkflowExecute.ts:1887:11",{"node":"39","data":"40","source":"41"},{"startTime":1770111196044,"executionTime":0,"executionStatus":"42","data":"43","source":"44"},{"hints":"45","startTime":1770111196286,"executionTime":32,"source":"46","executionStatus":"42","data":"47"},{"hints":"48","startTime":1770111196323,"executionTime":43,"source":"49","executionStatus":"42","data":"50"},{"hints":"51","startTime":1770111196418,"executionTime":25,"source":"52","executionStatus":"42","data":"53"},{"hints":"54","startTime":1770111196445,"executionTime":10,"source":"55","executionStatus":"42","data":"56"},{"hints":"57","startTime":1770111196457,"executionTime":11250,"source":"58","executionStatus":"19","error":"59"},{"operation":"60","prompt":"61","systemPrompt":"62","model":"63","executionMode":"64","cwd":"65","mcpConfigPath":"62","dynamicSkills":"62","additionalOptions":"66"},"be3a8484-461b-4be1-ab57-b66700447443","CUSTOM.geminiCLI",[1000,3520],{"parameters":"67","id":"36","name":"6","type":"37","typeVersion":1,"position":"68"},{"main":"69"},{"main":"58"},"success",{"main":"70"},[null],[],["71"],{"main":"72"},[],["73"],{"main":"74"},[],["75",null],{"main":"76"},[],["77"],{"main":"78"},[],["79"],{"level":"19","tags":"20","context":"21","functionality":"22","name":"23","timestamp":1770111207646,"node":"24","messages":"25","message":"26","stack":"27"},"chat","={{ $json.prompt }}","","gemini-2.5-pro","yolo","/home/emky/n8n",{"outputFormat":"80","jsonForce":true,"temperature":0.5},{"operation":"60","prompt":"61","systemPrompt":"62","model":"63","executionMode":"64","cwd":"65","mcpConfigPath":"62","dynamicSkills":"62","additionalOptions":"81"},[1000,3520],["82"],["83"],{"previousNode":"84"},["85","86"],{"previousNode":"87"},["88"],{"previousNode":"89"},["90"],{"previousNode":"91"},["92"],{"previousNode":"93"},"json",{"outputFormat":"80","jsonForce":true,"temperature":0.5},["94"],["95"],"When chat message received",["96"],[],"Read History",["97"],"Init Context",["98"],"Loop Merge",["99"],"Planner Prep",{"json":"100","pairedItem":"101"},{"json":"102"},{"binary":"103","json":"104","pairedItem":"105"},{"json":"106","pairedItem":"107"},{"json":"106","pairedItem":"108"},{"json":"100","pairedItem":"109"},{"prompt":"110","history":"111","chat_history":"112","user_goal":"113","counter":0},{"item":0},{"sessionId":"114","action":"115","chatInput":"113"},{"data":"116"},{"mimeType":"117","fileType":"80","fileName":"118","directory":"65","fileExtension":"80","fileSize":"119"},{"item":0},{"user_goal":"113","chat_history":"120","history":"121","counter":0},{"item":0},{"item":0},{"item":0},"IDENTIDAD: VEGA OS.\nUsuario: Emky.\nEstado del Sistema: Operativo.\n\n=== CAPACIDADES (HERRAMIENTAS) ===\n1. buscar_en_drive(query): Busca archivos en Google Drive.\n2. descargar_de_drive(fileId, filename): Descarga de Drive al sistema local.\n3. subir_a_drive(filename): Sube un archivo local a Google Drive.\n4. ejecutar_comando(command): Ejecuta comandos Linux (ls, grep, mkdir, unzip, etc.).\n   - USA 'ls -R' PARA LISTAR DIRECTORIOS. No inventes 'list_directory'.\n5. leer_archivo(path): Lee el contenido de un archivo de texto local.\n6. navegar_web(url): Abre una URL en Brave (debug 9222) y retorna resultado (screenshot path, text).\n\n=== PROTOCOLO DE RESPUESTA ===\n- Si la tarea requiere pasos tecnicos, usa las herramientas.\n- Si terminaste o es charla, establece is_done: true y llena final_response.\n- NUNCA respondas con final_response null si is_done es true.\n\n=== FORMATO JSON (ESTRICTO) ===\n{\n  \"thought\": \"Breve analisis...\",\n  \"next_instruction\": \"Nombre_Funcion(args...)\",\n  \"is_done\": boolean,\n  \"final_response\": \"Texto para el usuario (si is_done=true)\"\n}",[],[],"Busca en mi Google Drive archivos que contengan 'takeout' y dime cuántos encuentras.","test-9e22b1b3-e606-4d83-812a-7feb05d6711e","sendMessage",{"mimeType":"117","fileType":"80","fileExtension":"80","data":"122","directory":"65","fileName":"118","fileSize":"119"},"application/json","history.json","171 B",[],[],"WwogIHsKICAgICJ1c2VyIjogIkhvbGEiLAogICAgImFpIjogIkhvbGEsIEVta3kuIFNveSBBbnRpZ3Jhdml0eSBPUy4gS2VybmVsIGxpc3RvIHkgb3BlcmF0aXZvLiDCv0N1w6FsIGVzIHR1IGRpcmVjdGl2YT8iLAogICAgInRpbWVzdGFtcCI6ICIyMDI2LTAyLTAzVDA1OjQyOjA1Ljc4MVoiCiAgfQpd"]